.jumbotron {
    background-image: url("/assets/burger-background.jpg");
    background-size: cover;
}

h1 {
    color: white;
    -webkit-text-stroke: 2px black;
}

.body {
    background-color: lightyellow;
}